**Aufgabe 2-1:**

Geben Sie alle durch 13 teilbaren Zahlen im Intervall von -1000 bis +1000 aus!
Hinweis: Hier hilft die Modulo-Operation

In [1]:
for i in range(-1000, 1001):
    if i % 13 == 0:
        print(i)

-988
-975
-962
-949
-936
-923
-910
-897
-884
-871
-858
-845
-832
-819
-806
-793
-780
-767
-754
-741
-728
-715
-702
-689
-676
-663
-650
-637
-624
-611
-598
-585
-572
-559
-546
-533
-520
-507
-494
-481
-468
-455
-442
-429
-416
-403
-390
-377
-364
-351
-338
-325
-312
-299
-286
-273
-260
-247
-234
-221
-208
-195
-182
-169
-156
-143
-130
-117
-104
-91
-78
-65
-52
-39
-26
-13
0
13
26
39
52
65
78
91
104
117
130
143
156
169
182
195
208
221
234
247
260
273
286
299
312
325
338
351
364
377
390
403
416
429
442
455
468
481
494
507
520
533
546
559
572
585
598
611
624
637
650
663
676
689
702
715
728
741
754
767
780
793
806
819
832
845
858
871
884
897
910
923
936
949
962
975
988

**Aufgabe 2-2:**

Schreiben Sie eine Funktion zur Berechnung der Summe der Zahlen von 1 bis 200 in Integer-
Arithmetik (also 1+2+3+4+5 usw.)! Ändern Sie das Programm so ab, dass nicht die Summe,
sondern das Produkt der Zahlen von 1 bis 100 (also 1\*2\*3\*4\*5 usw.) berechnet wird! Ändern
Sie das Programm nochmals, so dass das Zwischenergebnis der Produktbildung nach jeweils 5
Produkten ausgegeben wird (also bei 5, 10, 15, usw.)!

In [3]:
n = range(0,201)
print(sum(n))

20100

In [4]:
n = 1

for i in range(1, 101):
    n = n * i
    if i % 5 == 0:
        print(n)
        
print('\n'+str(n))

120
3628800
1307674368000
2432902008176640000
15511210043330985984000000
265252859812191058636308480000000
10333147966386144929666651337523200000000
815915283247897734345611269596115894272000000000
119622220865480194561963161495657715064383733760000000000
30414093201713378043612608166064768844377641568960512000000000000
12696403353658275925965100847566516959580321051449436762275840000000000000
8320987112741390144276341183223364380754172606361245952449277696409600000000000000
8247650592082470666723170306785496252186258551345437492922123134388955774976000000000000000
11978571669969891796072783721689098736458938142546425857555362864628009582789845319680000000000000000
24809140811395398091946477116594033660926243886570122837795894512655842677572867409443815424000000000000000000
71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000
281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000
1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000
10329978488239059262599702099394727095397746340117372869212250571234293987594703124871765375385424468563282236864226607350415360000000000000000000000
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [14]:
def factorial(n):
    if n == 1:
        return 1
    else:
        res = n * factorial(n - 1)

        return res

print(factorial(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [8]:
import math

math.factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

**Aufgabe 2-3:**

Listen Sie alle Schaltjahre zwischen 1850 und 2110 auf!

In [11]:
n = 0

for i in range(1850, 2111):
    if i % 4 == 0 and i % 100 != 0:
        print(i)
        n = n + 1
    elif i % 100 == 0 and i % 400 == 0:
        print(i)
    
        n = n + 1

print('Es sind', n, 'Schaltjahre!')

1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2104
2108
Es sind 63 Schaltjahre!

**Aufgabe 2-4:**

Erstellen Sie eine Funktion, das zu einem Anfangskapital die Anzahl der Jahre berechnet, bis
eine Zielsumme erreicht ist. Der Zinssatz beträgt im ersten Jahr 1% und steigt jährlich um 10%
(1. Jahr: 1%, 2. Jahr: 1,1%, 3. Jahr: 1,21% usw.) Der Höchstzinssatz wird auf 5% beschränkt.
Testen Sie Ihre Funktion mit den Paramtern Anfangskapital = 1000 € und einer Zielsumme =
1600 €!

In [22]:
def kapital(anfang, ziel):
    if anfang > ziel:
        return 0
    
    n = anfang
    zins = 1
    a = 0
    
    while n < ziel:
        n = n * ((zins / 100) + 1)
        a = a + 1
        zins = zins * 1.1
        if zins > 5:
            zins = 5
    return a

In [23]:
kapital(1000,1600)

19

**Aufgabe 2-5:**

Erstellen Sie eine Funktion, welche für die Celsius-Temperaturen von 0 bis 100 die jeweiligen
Kelvin- und Fahrenheittemperaturen ausgibt!

In [31]:
def temprechner(celsius):
    k = celsius + 273.15 
    f = (celsius * 9 / 5) + 32
    return k, f

temprechner(-273.15)

(0.0, -459.66999999999996)

In [32]:
for i in range(0, 101):
    print(i, temprechner(i))

0 (273.15, 32.0)
1 (274.15, 33.8)
2 (275.15, 35.6)
3 (276.15, 37.4)
4 (277.15, 39.2)
5 (278.15, 41.0)
6 (279.15, 42.8)
7 (280.15, 44.6)
8 (281.15, 46.4)
9 (282.15, 48.2)
10 (283.15, 50.0)
11 (284.15, 51.8)
12 (285.15, 53.6)
13 (286.15, 55.4)
14 (287.15, 57.2)
15 (288.15, 59.0)
16 (289.15, 60.8)
17 (290.15, 62.6)
18 (291.15, 64.4)
19 (292.15, 66.2)
20 (293.15, 68.0)
21 (294.15, 69.8)
22 (295.15, 71.6)
23 (296.15, 73.4)
24 (297.15, 75.2)
25 (298.15, 77.0)
26 (299.15, 78.8)
27 (300.15, 80.6)
28 (301.15, 82.4)
29 (302.15, 84.2)
30 (303.15, 86.0)
31 (304.15, 87.8)
32 (305.15, 89.6)
33 (306.15, 91.4)
34 (307.15, 93.2)
35 (308.15, 95.0)
36 (309.15, 96.8)
37 (310.15, 98.6)
38 (311.15, 100.4)
39 (312.15, 102.2)
40 (313.15, 104.0)
41 (314.15, 105.8)
42 (315.15, 107.6)
43 (316.15, 109.4)
44 (317.15, 111.2)
45 (318.15, 113.0)
46 (319.15, 114.8)
47 (320.15, 116.6)
48 (321.15, 118.4)
49 (322.15, 120.2)
50 (323.15, 122.0)
51 (324.15, 123.8)
52 (325.15, 125.6)
53 (326.15, 127.4)
54 (327.15, 129.2)
55 (328.15, 131.0)
56 (329.15, 132.8)
57 (330.15, 134.6)
58 (331.15, 136.4)
59 (332.15, 138.2)
60 (333.15, 140.0)
61 (334.15, 141.8)
62 (335.15, 143.6)
63 (336.15, 145.4)
64 (337.15, 147.2)
65 (338.15, 149.0)
66 (339.15, 150.8)
67 (340.15, 152.6)
68 (341.15, 154.4)
69 (342.15, 156.2)
70 (343.15, 158.0)
71 (344.15, 159.8)
72 (345.15, 161.6)
73 (346.15, 163.4)
74 (347.15, 165.2)
75 (348.15, 167.0)
76 (349.15, 168.8)
77 (350.15, 170.6)
78 (351.15, 172.4)
79 (352.15, 174.2)
80 (353.15, 176.0)
81 (354.15, 177.8)
82 (355.15, 179.6)
83 (356.15, 181.4)
84 (357.15, 183.2)
85 (358.15, 185.0)
86 (359.15, 186.8)
87 (360.15, 188.6)
88 (361.15, 190.4)
89 (362.15, 192.2)
90 (363.15, 194.0)
91 (364.15, 195.8)
92 (365.15, 197.6)
93 (366.15, 199.4)
94 (367.15, 201.2)
95 (368.15, 203.0)
96 (369.15, 204.8)
97 (370.15, 206.6)
98 (371.15, 208.4)
99 (372.15, 210.2)
100 (373.15, 212.0)

**Aufgabe 2-6:**

Schreiben Sie eine Funktion, das die minimale Anzahl von Münzen und Geldscheinen berechnet,
mit denen ein einzugebender Geldbetrag zusammengestellt werden kann (nur ganze Euro-
Beträge)!

Beispiel: 27 EUR: 1\*20 EUR + 1\*5 EUR + 1\*2 EUR

In [37]:
def muenzen(betrag):
    rest = 0
    anzahl = 0

    if betrag >= 500:
        anzahl = betrag // 500
        rest = betrag % 500
    
        if rest != 0:
            return str(anzahl) + ' * 500 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 500 EUR'
        
    elif betrag >= 200:
        anzahl = betrag // 200
        rest = betrag % 200
        if rest != 0:
            return str(anzahl) + ' * 200 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 200 EUR'
        
    elif betrag >= 100:
        anzahl = betrag // 100
        rest = betrag % 100
        if rest != 0:
            return str(anzahl) + ' * 100 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 100 EUR'

    elif betrag >= 50:
        anzahl = betrag // 50
        rest = betrag % 50
        if rest != 0:
            return str(anzahl) + ' * 50 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 50 EUR'

    elif betrag >= 20:
        anzahl = betrag // 20
        rest = betrag % 20
        if rest != 0:
            return str(anzahl) + ' * 20 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 20 EUR'

    elif betrag >= 10:
        anzahl = betrag // 10
        rest = betrag % 10
        if rest != 0:
            return str(anzahl) + ' * 10 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 10 EUR'

    elif betrag >= 5:
        anzahl = betrag // 5
        rest = betrag % 5
        if rest != 0:
            return str(anzahl) + ' * 5 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 5 EUR'

    elif betrag >= 2:
        anzahl = betrag // 2
        rest = betrag % 2
        if rest != 0:
            return str(anzahl) + ' * 2 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 2 EUR'

    elif betrag >= 1:
        anzahl = betrag // 1
        rest = betrag % 1
        if rest != 0:
            return str(anzahl) + ' * 1 EUR + ' + str(muenzen(rest))
        else:
            return str(anzahl) + ' * 1 EUR'

In [39]:
muenzen(550)

'1 * 500 EUR + 1 * 50 EUR'

In [40]:
def get_scheine(euro):
    anz500 = 0
    anz200 = 0
    anz100 = 0
    anz50 = 0
    anz20 = 0
    anz10 = 0
    anz5 = 0
    
    rest = euro
    
    while rest > 0:
        if rest // 500 > 0:
            anz500 = rest // 500
            rest = rest - (anz500 * 500)
        elif rest // 200 > 0:
            anz200 = rest // 200
            rest = rest - (anz200 * 200)
        elif rest // 100 > 0:
            anz100 = rest // 100
            rest = rest - (anz100 * 100)
        elif rest // 50 > 0:
            anz50 = rest // 50
            rest = rest - (anz50 * 50)
        elif rest // 20 > 0:
            anz20 = rest // 20
            rest = rest - (anz20 * 20)
        elif rest // 10 > 0:
            anz10 = rest // 10
            rest = rest - (anz10 * 10)
        elif rest // 5 > 0:
            anz5 = rest // 5
            rest = rest - (anz5 * 5)
            
    print(euro, 'kann aufgeteilt werden in:')
    print(anz500, '500€')
    print(anz200, '200€')
    print(anz100, '100€')
    print(anz50, '50€')
    print(anz20, '20€')
    print(anz10, '10€')
    print(anz5, '5€')

In [41]:
get_scheine(550)

550 kann aufgeteilt werden in:
1 500€
0 200€
0 100€
1 50€
0 20€
0 10€
0 5€

**Aufgabe 2-7:**

Sortieren Sie eine mit Zufallszahlen zwischen 1 und 100 belegte Liste (mindestens 50 Elemente)
nach dem Bubble – Sort – Verfahren! Geben Sie die Liste vor und nach der Sortierung
aus! Hinweis: In einem Zyklus werden zwei benachbarte Elemente vertauscht, wenn sie in
falscher Reihenfolge sind. Dieser Zyklus wird solange wiederholt, bis keine Vertauschung mehr
erforderlich ist.

In [42]:
import random

feld = [random.randint(1, 10) for i in range(100)]

print(feld)

[82, 42, 17, 55, 63, 82, 100, 88, 30, 69, 60, 23, 2, 33, 59, 83, 49, 87, 96, 57, 15, 72, 56, 78, 51, 16, 0, 93, 88, 63, 49, 40, 24, 32, 5, 35, 52, 64, 44, 88, 32, 71, 54, 68, 95, 96, 70, 70, 26, 24]

In [43]:
not_done = True

while not_done:
    not_done = False
    
    for i in range(len(feld) - 1):
        if feld[i] > feld[i + 1]:
            temp = feld[i]
            feld[i] = feld[i + 1]
            feld[i + 1] = temp
            
            not_done = True
            
print(feld)

[0, 2, 5, 15, 16, 17, 23, 24, 24, 26, 30, 32, 32, 33, 35, 40, 42, 44, 49, 49, 51, 52, 54, 55, 56, 57, 59, 60, 63, 63, 64, 68, 69, 70, 70, 71, 72, 78, 82, 82, 83, 87, 88, 88, 88, 93, 95, 96, 96, 100]

In [44]:
import random

list1 = []

for i in range(50):
    random1 = random.randint(1, 100)
    list1.append(random1)

print(list1)
print()

for i in range(len(list1)):
    for j in range(len(list1) - 1):
        if list1[j] > list1[j + 1]:
            merke = list1[j]
            list1[j] = list1[j + 1]
            list1[j + 1] = merke

print(list1)

[37, 14, 9, 4, 8, 68, 6, 80, 19, 62, 97, 65, 21, 25, 28, 30, 73, 45, 33, 3, 94, 70, 29, 74, 11, 64, 57, 66, 70, 67, 10, 31, 77, 14, 5, 8, 96, 78, 50, 23, 74, 18, 3, 95, 13, 50, 70, 86, 76, 66]

[3, 3, 4, 5, 6, 8, 8, 9, 10, 11, 13, 14, 14, 18, 19, 21, 23, 25, 28, 29, 30, 31, 33, 37, 45, 50, 50, 57, 62, 64, 65, 66, 66, 67, 68, 70, 70, 70, 73, 74, 74, 76, 77, 78, 80, 86, 94, 95, 96, 97]

**Aufgabe 2-8:**

Belegen Sie eine Liste (mindestens 100 Elemente) mit Zufallszahlen zwischen 1 und 10!
Ermitteln Sie die Häufigkeit der einzelnen Zahlen!

In [45]:
import random

list2 = []

for i in range(100):
    random1 = random.randint(1, 10)
    list2.append(random1)

print(list2)
print()

for j in range(1, 11):
    counter = 0
    for i in range(len(list2)):
        if list2[i] == j:
            counter = counter + 1
    print(str(counter) + ' x ' + str(j))

[3, 6, 5, 3, 3, 4, 1, 7, 9, 1, 9, 9, 4, 10, 10, 7, 5, 4, 7, 8, 2, 6, 7, 4, 4, 10, 4, 10, 2, 3, 9, 3, 4, 5, 4, 10, 8, 10, 6, 9, 6, 4, 2, 5, 9, 1, 2, 5, 4, 5, 6, 7, 6, 9, 1, 5, 3, 9, 9, 7, 6, 2, 3, 7, 4, 10, 1, 3, 2, 3, 5, 4, 5, 3, 4, 8, 10, 10, 6, 7, 7, 5, 4, 2, 9, 9, 10, 3, 10, 3, 10, 7, 10, 1, 9, 8, 9, 7, 4, 6]

6 x 1
7 x 2
12 x 3
15 x 4
10 x 5
9 x 6
11 x 7
4 x 8
13 x 9
13 x 10

In [48]:
feld = [random.randint(1, 10) for i in range(100)]

haeufigkeiten = [0 for i in range(10)]

for i in range(len(feld)):
    haeufigkeiten[feld[i] - 1] = haeufigkeiten[feld[i] - 1] + 1
    
print(haeufigkeiten)

[13, 9, 7, 7, 7, 9, 12, 10, 12, 14]

**Aufgabe 2-9:**

Schreiben Sie eine Funktion, die eine Zeichenkette einliest und diese rückwärts wieder ausgibt.

In [49]:
def ruekwaerts(s):
    st = ''
    for i in range(len(s) - 1, -1, -1):
        st = st + s[i]
        
    print(st)
    
ruekwaerts('Hello World!')

!dlroW olleH

**Aufgabe 2-10:**

Berechnen Sie die Quersumme einer ganzen Zahl!

In [58]:
zahl = 254
quersumme = 0

for x in str(zahl):
    quersumme = quersumme + int(x)

print(quersumme)

11

In [59]:
def quersumme(zahl):
    qsum = 0
    
    for i in range(len(str(zahl)) - 1, -1, -1):
        qsum = qsum + int(str(zahl)[i])
    
    return qsum

In [60]:
quersumme(254)

11